$masonry-grid-gap: 15px;

.masonry-grid {
  display: flex;
  margin-left: -$masonry-grid-gap;
  width: auto;
}
.masonry-grid_column {
  background-clip: padding-box;
  margin-left: $masonry-grid-gap;
  & > div.card {
    margin-bottom: $masonry-grid-gap;
  }
}
